@import "./node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: "TT Firs Neue";
  src: local("TT Firs Neue Medium"), local("TT-Firs-Neue-Medium"),
  url("TTFirsNeue-Medium/TTFirsNeue-Medium.woff2") format("woff2"),
  url("TTFirsNeue-Medium/TTFirsNeue-Medium.woff") format("woff"),
  url("TTFirsNeue-Medium/TTFirsNeue-Medium.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: 'TT Firs Neue';
  src: local('TT Firs Neue Regular'), local('TT-Firs-Neue-Regular'),
  url('TTFirsNeue-Regular/TTFirsNeue-Regular.woff2') format('woff2'),
  url('TTFirsNeue-Regular/TTFirsNeue-Regular.woff') format('woff'),
  url('TTFirsNeue-Regular/TTFirsNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}





html {
  font-size: 10px;

  body{
    font-family: "TT Firs Neue", sans-serif;
  }


  .container{
    max-width: 130rem;
    padding: 0 3rem;
  }

  .btn{
    flex: none;
    padding: 0.8rem 2.1rem;
    font-size: 1.6rem;
  }

  .content_tit_plus{
    font-weight: 500;
    font-size: 4rem;
    line-height: 110%;
    margin-bottom: 4rem;
    position: relative;
    .plus{
      position: absolute;
      top: -3.2rem;
      left: -3rem;
    }
  }

  .content_wrapper{
    padding: 6rem 0 6rem 0;
  }

  @media(max-width: 1310px){
    .plus{
      display: none;
    }
  }
  @media (max-width: 991px){
    .btn{
      font-size: 1.4rem;
      padding: 0.5rem 2.1rem;
    }

    .content_wrapper{
      padding: 3.8rem 0 2.8rem 0;
    }

    .container{
      max-width: 74.4rem;
      padding: 0 2rem;
    }
    .content_tit_plus{
      font-size: 3rem ;
      margin-bottom: 3rem;
    }
  }
  @media (max-width: 767px){
    .btn{
      font-size: 1.4rem;
      padding: 0.5rem 2.1rem;
    }

    .btn_wrapper{
      a{
        width: 100%;
      }
    }

    .container{
      width: 31.2rem;
      padding: 0 1.6rem;
    }
    .content_tit_plus{
      font-size: 2rem ;
      margin-bottom: 3rem;
    }
    .btn{
      font-size: 1.4rem;
      width: 100%;
      padding: 0.5rem 2.1rem;
    }

    .content_wrapper{
      padding: 3.8rem 0 2.2rem 0;
    }
  }
}

.slider{
  margin: 0 -8px;
  position: relative;
  .slick-list{
    margin-bottom: 5.2rem;
  }
  .slick-slide{
    margin: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.08);
    border-radius: 3rem;
  }
  .slick-dots {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
      margin: 0 5px;

      button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 0.6rem;
        height: 0.6rem;
        cursor: pointer;
        border-radius: 100%;
        background: black;

      }
    }

    li.slick-active button {
      width: 10px;
      height: 10px;
      background-color: #17FF01;
    }
  }
  @media (max-width: 767px){
    .slick-list{
      margin-bottom: 1.2rem;
    }
  }
}

.btn_grad{
  background: linear-gradient(90deg, #16ff00 0%, #4dffc9 100%, #4dffc9 100%);
}

.btn_wrapper{
  display: flex;
  .more_cluster{
    box-shadow: 0 4px 20px 0 rgba(0, 46, 69, 0.1);
    margin: 0 auto;
  }
}









.intsec_cluster_banner{
  background: url("./img/desktop/puzzle.png") no-repeat 67.5rem 1.04rem,#3c4f7e;
  padding: 10rem 5rem;
  border-radius: 0 0 8rem 8rem;
  max-width: 140rem;
  margin: 0 auto 2rem;
  height: 54.8rem;

  &_info{
      color: #fff;
  }

  &_tit{
      margin-bottom:1.2rem;
      font-weight: 500;
      font-size: 5rem;
      line-height: 110%;
  }

  &_text{
      font-size: 1.8rem;
      line-height: 120%;
      margin-bottom: 3rem;
  }

  @media (min-width: 992px) and (max-width: 1325px){
    background-position: right 2rem bottom 5rem;
    background-size: 40rem 32rem;
  }

  @media (max-width: 991px) {
    margin-bottom: 0;
    padding: 6rem 1.2rem;
    border-radius: 0 0 6rem 6rem;
    background-size: 451px 334.89px;
    background-position: right bottom 3rem;
    height: 41.7rem;
    &_tit{
      font-size: 4rem;
    }

    &_text{
      font-size: 1.6rem;
    }

  }
  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 2rem 0;
    border-radius: 0 0 3rem 3rem;
    background-size: 280px 207.91px;
    height: 50.3rem;
    background-position-y: 18.8rem;
    background-position-x: center;
    &_tit{
      font-size: 2.6rem;
      margin-bottom: 1.4rem;
    }

    &_text{
      font-size: 1.4rem;
      line-height: 140%;
      margin-bottom: 25rem;
    }

  }
}

.intsec_cluster_cont1{
  .row{
    margin-bottom: 7rem;
  }

  h3 {
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 120%;
    margin-bottom: 3rem;
  }

  .left_side{
    padding-top:4rem ;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 120%;
    &_grad_tit{
      background: linear-gradient(90deg, #16ff00 0%, #4dffc9 100%, #4dffc9 100%);
      border-radius: 0.8rem;
      padding: 0 0.3rem;
      width: fit-content;
      margin-bottom: 0.6rem;
    }
    &_text{
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 120%;
      margin-bottom: 2rem;
    }
  }

  .right_side{
    display: flex;
    background: url("./img/desktop/ellipse.png") no-repeat right, #f8f8f8;
    padding: 4rem 4.2rem;
    border-radius: 4rem;
    &_tit{
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 120%;
      margin-bottom: 1rem;
    }

    &_text{
      font-size: 1.7rem;
      line-height: 129%;
    }

    &_img{
      width: 30.5rem;
      height: 29rem;
      margin-right: -8rem;
      margin-bottom: -2rem;
      margin-top: -3rem;
      flex: none;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }

  .card_panel1{
    display: flex;
    background: #f8f8f8;
    padding: 4rem;
    border-radius: 4rem;
    justify-content: space-between;

    &_element{
      display: flex;
      gap: 2.2rem;
    }

    &_number{
      font-weight: 500;
      font-size: 7rem;
      line-height: 100%;
      color: #00ae46;
    }

    &_tit{
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 120%;
    }

    &_text{
      font-size: 1.4rem;
      line-height: 120%;
    }
  }
  @media(max-width: 1200px){

    .left_side{
      padding-top: 0;
      margin-bottom: 2.5rem;
    }

    .card_panel1{
      gap: 0;
      justify-content: space-between;
      &_element{
        flex-direction: column;
        gap: 0.8rem;
      }
    }
  }

  @media(max-width: 991px){
    overflow: hidden;
    h3 {
      font-size: 2.4rem;
      margin-bottom: 2rem;
    }

    .row{
      margin-bottom: 2.8rem;
    }

    .left_side{
      padding-top:0;
      &_grad_tit{
        margin-bottom: 0;
      }
      &_text{
        line-height: 112%;
      }
      &_btn{
        margin-bottom: 1.8rem;
      }
    }
    .right_side{
      padding: 4rem 3rem 1rem 3rem;
      background-position: right bottom -13rem;

      &_tit{
        line-height: 110%;
      }

      &_text{
        font-size: 1.6rem;
        line-height: 120%;
      }
    }

    .card_panel1{
      padding: 3rem;
      gap: 0;
      justify-content: space-between;
      margin-bottom: 1.7rem;
      &_element{
        gap: 0.6rem;
        flex-direction: column;
      }
      &_number{
        font-size: 5rem;
      }
      &_tit{
        font-size: 1.6rem;
      }
    }
  }
  @media(max-width: 767px){
    overflow: hidden;
    h3 {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 120%;
    }

    .row{
      margin-bottom: 2.8rem;
    }

    .left_side{
      padding-top:0;
      &_grad_tit{
        font-size: 1.6rem;
        margin-bottom: 0.4rem;
        line-height: normal;
      }
      &_text{
        font-size: 1.6rem;
        line-height: 112%;
      }
      &_btn{
        margin-bottom: 1.8rem;
      }
    }
    .right_side{
      flex-direction: column;
      padding: 3.8rem 2rem 1.6rem 2rem;
      border-radius: 2rem;

      &_img{
        margin-top: 0;
        width: 24rem;
      }

      &_tit{
        font-size: 1.6rem;
        line-height: 112%;
      }

      &_text{
        font-size: 1.4rem;
        line-height: 120%;
      }
    }

    .card_panel1{
      border-radius: 2rem;
      padding: 3rem 2.2rem;
      flex-wrap: wrap;
      gap: 2rem 3.5rem;
      justify-content: normal;
      margin-bottom: 0;
      &_text{
        font-size: 1.2rem;
        line-height: 120%;
      }
      &_element{
        flex-direction: column;
        width: calc(50% - 25px);
        gap: 0.6rem;
      }
      &_number{
        font-size: 3.2rem;
      }
      &_tit{
        font-size: 1.4rem;
        margin-bottom: 0.2rem;
      }
    }
  }
}

.intsec_cluster_cont2 {
  &_info{
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 120%;
    margin-bottom: 4rem;
  }

  .row{
    gap: 2rem 0;
  }

  .card_intsec1{
    padding: 3rem;
    box-shadow: 0 4px 20px 0 rgba(0, 46, 69, 0.1);
    border-radius: 3rem;
    height: 100%;
    &_text{
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 120%;
    }
    &_img{
      width: 7rem;
      height: 7rem;
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  @media (max-width: 991px) {
    .intsec_cluster_cont2_tit{
      margin-bottom: 2rem;
    }
    &_info{
      font-size: 1.6rem;
      margin-bottom: 3rem;
    }

    .card_intsec1{
      padding: 3rem 2.4rem;

      &_text{
        font-size: 1.4rem;
      }
    }

    .row{
      gap: 1.6rem 0;
      margin-bottom: 1.6rem;
    }


  }
  @media (max-width: 767px) {
    .intsec_cluster_cont2_tit{
      margin-bottom: 1.8rem;
    }
    &_info{
      font-size: 1.6rem;
      margin-bottom: 3rem;
    }

    .card_intsec1{
      padding: 2.2rem 2rem;
      border-radius: 2rem;
      &_img{
        margin-bottom: 1rem;
      }
      &_text{
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
      }
    }

    .row{
      gap: 1.2rem 0;
      margin-bottom: 0.8rem;
    }


  }
}

.intsec_cluster_cont3 {
  .row{
    gap: 2rem 0;
    margin-bottom: 3.5rem;
  }
  .btn_wrapper{
    justify-content: center;
  }
  .card_intsec2 {
    box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
    border-radius: 3rem ;
    height: 100%;
    display: flex;
    flex-direction: column;

    &_img{
      border-radius: 3rem 3rem 0 0;
      height: 22.4rem;
      max-width: 40.5rem;
      overflow: hidden;

      img{
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &_info{
      padding: 3rem;
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    &_tit{
      font-size: 1.8rem;
      margin-bottom: 0.8rem;
    }

    &_text{
      font-size: 1.6rem;
      line-height: 138%;
      margin-bottom: 5.2rem;
    }

    &_numbers{
      display: flex;
      font-size: 1.4rem;
      gap: 6.8rem;
      margin-top: auto;
    }

    &_numb{
      font-weight: 500;
      font-size: 4rem;
      line-height: 110%;
      color: #00ae46;
    }
  }
  @media (max-width: 991px){
    .intsec_cluster_cont3{
      margin-bottom: 2.2rem;
    }

    .card_intsec2{
      box-shadow: none;
      display: flex;
      min-height: 471px;
      flex-direction: column;
      &_img{
        width: 34.4rem;
        height: 22.7rem;
      }
      &_tit{
        font-size: 1.6rem;
      }
      &_text{
        font-size: 1.4rem;
        line-height: 120%;
        margin-bottom: 1rem;
      }
      &_numbers{
        gap: 0;
        justify-content: space-between;
      }
      &_numb{
        font-size: 3rem;
      }
      &_info{
        padding: 2.4rem;
        flex: 1;
      }
    }
    .btn_wrapper{
      margin-bottom: 2.5rem;
      .btn{
        display: none;
      }
    }
  }
  @media (max-width: 767px){
    .intsec_cluster_cont3{
      margin-bottom: 1.2rem;
    }
    .row{
      margin-bottom: 1rem;
    }
    .card_intsec2{
      box-shadow: none;
      display: flex;
      min-height: 416px;
      flex-direction: column;
      border-radius: 0 0 2rem 2rem;
      &_img{
        border-radius: 2rem 2rem 0 0;
        height: 19rem;
        width: 28rem;
      }
      &_tit{
        font-size: 1.4rem;
      }
      &_text{
        font-size: 1.2rem;
        line-height: 120%;
        margin-bottom: 1rem;
      }
      &_numbers{
        gap: 0;
        justify-content: space-between;
      }
      &_members,
      &_projects{
        font-size: 1.2rem;
      }
      &_numb{
        font-size: 2rem;
      }
      &_info{
        padding: 1.8rem 2rem;
        flex: 1;
      }
    }
    .btn_wrapper{
      margin-bottom: 1rem;
      .btn{
        display: none;
      }
    }
  }
}

.intsec_cluster_cont4{
  .btn_wrapper{
    justify-content: center;
  }
  &_flex{
    gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.7rem;
  }

  .card_intsec3{
    gap: 3rem;
    display: flex;
    padding: 2.4rem;
    border-radius: 20px;
    box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);

    &_img{
      height: 20rem;
      width: 37.6rem;
      border-radius: 2rem;
      overflow: hidden;
      flex: none  ;

      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &_info{
      font-size: 1.7rem;
      line-height: 129%;
      display: flex;
      flex-direction: column;
      padding-top: 0.8rem;
      padding-bottom: 1.2rem;
    }

    &_tit{
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 120%;
      margin-bottom: 2rem;
    }

    &_text{
      margin-bottom: 1rem;
    }

    &_date{
      .transparent{
        color: #8d8f92;
      }
      font-weight: 500;
      margin-top: auto;
    }
  }
  @media (max-width: 991px){
    .transparent{
      font-size: 1.4rem;
    }
    .intsec_cluster_cont4_flex{
      gap: 1.2rem;
      margin-bottom: 2.6rem;
    }
    .btn_wrapper{
      margin-bottom: 1.2rem;
    }
    .card_intsec3{
      border-radius: 3rem;
      padding: 2.2rem 2rem;
      gap: 1.6rem;
      &_info{
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      &_img{
        height: 17.4rem;
        width: 26.4rem;
        border-radius: 1rem;
        overflow: hidden;
      }
      &_tit{
        font-size: 1.6rem;
        margin-bottom: 1.6rem;
      }
      &_text{
        font-size: 1.6rem;
        line-height: 120%;
      }
      &_date{
        font-size: 1.6rem;
        line-height: 160%;
      }
    }
  }
  @media (max-width: 767px){
    .intsec_cluster_cont4_tit{
      margin-bottom: 2rem;
    }
    .transparent{
      font-size: 1.2rem;
    }
    .intsec_cluster_cont4_flex{
      gap: 1rem;
      margin-bottom: 2.5rem;
    }
    .btn_wrapper{
      margin-bottom: 0;
    }
    .card_intsec3{
      border-radius: 2rem;
      padding: 2rem 2rem 1.6rem 2rem;
      gap: 0;
      flex-direction: column;
      &_info{
        padding-top: 1rem;
        padding-bottom: 0;
      }
      &_img{
        height: 14.7rem;
        width: 24rem;
        border-radius: 1rem;
        overflow: hidden;
      }
      &_tit{
        font-size: 1.6rem;
        margin-bottom: 0.8rem;
      }
      &_text{
        font-size: 1.2rem;
        line-height: 120%;
        margin-bottom: 1.2rem;
      }
      &_date{
        display: block;
        font-size: 1.2rem;
      }
    }
  }
}

.intsec_cluster_cont5 {
  .btn_wrapper{
    margin-top: auto;
  }

  .intsec_card {
    border-radius: 3rem;
    padding: 3.8rem 4rem;
    display: flex;
    gap: 3.4rem;


    &_left_side {
      flex: none;
      display: flex;
      flex-direction: column;

      button {
        align-self: flex-start;
        margin-top: auto;
      }
    }

    &_tit {
      margin-bottom: 3rem;
    }

    .create {
      display: inline;
      color: #00ae46;
    }

    &_text {
      font-size: 1.7rem;
      line-height: 129%;
      margin-bottom: 1rem;
    }

    &_info {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 120%;
      margin-bottom: 2rem;
    }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 1.7rem;

      .list_item {
        background: #fff;
        display: flex;
        align-items: center;
        box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.08);
        border-radius: 2rem;
        padding: 2.5rem 3rem;
        gap: 2rem;

        &_img {
          height: 3rem;
          width: 3rem;
          flex: none;

          img {
            height: 100%;
            width: 100%;
          }
        }

        &_text {
          font-size: 1.8rem;
          line-height: 120%;
        }
      }
    }
  }

  .card1 {
    background: #f0f8fb;
    margin-bottom: 2.6rem;
  }

  .card2 {
    background: #f0fbf2;
    gap: 16.5rem;
  }
  @media (min-width: 992px) and (max-width: 1200px){
    span{
      display: none;
    }
    .card1{
      .intsec_card_left_side{
        max-width: 400px;
      }
    }
    .card2{
      gap: 5rem;
      .intsec_card_left_side{
        max-width: 426px;
      }
    }
  }
  @media (max-width: 991px) {
    .btn_wrapper{
      justify-content: center;
    }
    .card1{
      margin-bottom: 1.6rem;
    }
    .card2{
      .intsec_card_text{
        font-size: 1.7rem;
        margin-bottom: 4.2rem;
      }
      .intsec_card_info{
        font-size: 1.8rem;
        margin-bottom: 2.2rem;
      }
    }

    .intsec_card {
      padding: 4.2rem 3rem;
      flex-direction: column;
      gap: 0;

      &_right_side{
        display: flex;
        flex-direction: column;
      }

      &_list{
        margin-bottom: 2.8rem;
        .list_item{
          &_text{
            font-size: 1.6rem;
          }
        }
      }

      &_tit {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      &_text {
        font-size: 1.6rem;
        line-height: 120%;
        margin-bottom: 3.8rem;
      }

      &_info {
        font-size: 1.6rem;
      }

      .btn{
        margin: 0 auto;
      }
    }

    .card2{
      margin-bottom: 1.4rem;
      .create_cluster_text{
        font-size: 1.7rem;
        line-height: 128%;
        margin-bottom: 3.9rem;
      }
      .create_cluster_info{
        font-size: 1.8rem;
      }
    }
  }
  @media (max-width: 767px) {
    .container{
      width: 100%;
    }
    .card1{
      margin-bottom: 0.8rem;
    }

    .card2{
      .intsec_card_text{
        font-size: 1.4rem;
        margin-bottom: 4.2rem;
      }
      .intsec_card_info{
        font-size: 1.6rem;
        margin-bottom: 1.8rem;
      }
    }

    .intsec_card {
      padding: 3rem 2rem;
      flex-direction: column;
      gap: 0;


      &_right_side{
        display: flex;
        flex-direction: column;
      }

      &_list{
        margin-bottom: 2.5rem;
        gap: 1.2rem;
        .list_item{
          align-items: flex-start;
          &_text{
            font-size: 1.4rem;
            line-height: 140%;
          }
        }
      }

      &_tit {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      &_text {
        font-size: 1.4rem;
        line-height: 140%;
        margin-bottom: 4.2rem;
      }

      &_info {
        font-size: 1.6rem;
        margin-bottom: 1.8rem;
      }

      .btn{
        margin: 0 auto;
      }
    }

    .card2{
      margin-bottom: 0;
      .create_cluster_text{
        font-size: 1.4rem;
        line-height: 140%;
        margin-bottom: 4rem;
      }
      .create_cluster_info{
        font-size: 1.6rem;
      }
    }
  }
}

.intsec_cluster_questions{
  .question_cont{
    border-radius: 2rem;
    padding: 5.4rem 6rem 5rem 6rem;
    background: #383B4A url("./img/desktop/questions_block.jpg");
    background-size: cover;

    &_wrapper{
      color: #fff;
      margin-bottom: 4rem;
    }
    &_tit{
      font-weight: 500;
      font-size: 4rem;
      line-height: 110%;
      margin-bottom: 1rem;
    }
    &_text{
      font-weight: 500;
      font-size: 2.4rem;
      line-height: 120%;
    }
    &_contacts{
      display: flex;
      gap: 6.2rem;
    }
    &_info{
      font-size: 1.6rem;
      line-height: 120%;
      color: #fff;
      opacity: 0.5;
    }
    &_grad{
      font-weight: 500;
      font-size: 40px;
      line-height: 110%;
      background: linear-gradient(90deg, #16ff00 0%, #4dffc9 100%, #4dffc9 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @media (max-width: 991px){
      padding: 5rem 6rem 5rem 6rem;
      background-position: right -34rem bottom;
      margin-bottom: 1rem;
      &_tit{
        font-size: 3rem;
        margin-bottom: 0.8rem;
      }
      &_wrapper{
        margin-bottom: 4.8rem;
      }
      &_contacts{
        flex-direction: column;
        gap: 1.8rem;
      }
      &_info{
        margin-bottom: 0.3rem;
      }
      &_grad{
        font-size: 3rem;
      }
    }
    @media (max-width: 767px){
      .container{
        width: 100%;
      }
      padding: 3rem 2rem 4rem 2rem;
      background-position: right -34rem bottom;
      margin-bottom: 3.8rem;
      &_tit{
        font-size: 2rem;
        margin-bottom: 0.8rem;
      }
      &_text{
        font-size: 1.8rem;
      }
      &_wrapper{
        margin-bottom: 3.4rem;
      }
      &_contacts{
        flex-direction: column;
        gap: 1.2rem;
      }
      &_info{
        font-size: 1.4rem;
        margin-bottom: 0.3rem;
      }
      &_grad{
        font-size: 2rem;
      }
    }
  }

}


.footer{
  padding-top: 5.5rem;
  padding-bottom: 2.3rem;
  background: #383b4a;
  overflow: hidden;

  &_container {
    display: flex;
    flex-direction: column;
  }
  &_top{
    display: flex;
    margin-bottom: 9.8rem;
    justify-content: space-between;
  }

  &_bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 2.3rem;
    font-size: 15px;
    line-height: 147%;
    color: #fff;

  }

  &_links{
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }


  .dt_flex{
    width: 61.5%;
    gap: 8.4rem;
    display: flex;
  }

  &_logo{
    margin-bottom: 3.8rem;
  }

  &_link{
    font-size: 1.5rem;
    line-height: 154%;
    color: #fff;
  }

  .dt_contacts{
    padding-top: 0.5rem;
    color: #fff;
    margin-right: 6rem ;
    flex: none;
  }
  &_number{
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 110%;
    margin-bottom: 0.6rem;
  }
  &_mail{
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 147%;
  }



  @media (max-width: 991px){
    padding-top: 3.7rem;
    padding-bottom: 1.8rem;

    .dt_contacts{
      padding-top: 0.5rem;
      margin-right: 3rem ;
    }

    .dt_flex{
      width: 65.9%;
      gap: 7rem;
    }

    .dt1{
      padding-top: 0.2rem;
    }

    .dt_tit{
      font-weight: 500;
      font-size: 1.6rem;
      color: #fff;
      margin-bottom: 1.8rem;
    }

    &_logo{
      width: 18rem;
      height: 3.8rem;
    }
    &_top{
        margin-bottom: 6.2rem;
    }
    &_links{
      gap: 1.7rem;
    }
    &_link{
      font-size: 1.4rem;
      line-height: 120%;
    }
    &_bottom{
      font-size: 1.4rem;
      line-height: 120%;
      margin: 0 -3.5rem;
      padding: 1.8rem 3.5rem 0 3.5rem;
      color: rgba(255, 255, 255, 0.7);
    }

    &_number{
      margin-bottom: 1.5rem;
    }
    &_number,
    &_mail{
      font-size: 1.3rem;
      align-items: center;
      display: flex;
      gap: 0.8rem;
      img{
        height: 1.8rem;
        width: 1.8rem;
      }
    }

    &_social{
      margin-bottom: 2.5rem;
      gap: 1rem;
      display: flex;
      height: 3.9rem;
      img{
        width: 3.9rem;
        height: 3.9rem;
      }
    }
  }
  @media (max-width: 767px){
    padding-top: 3.7rem;
    padding-bottom: 1.2rem;
    .dt_contacts{
      margin-right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_logo{
      margin-bottom: 2.8rem;
    }
    &_container {
      align-items: center;
    }
    &_top{
        align-items: center;
        margin-bottom: 3.4rem;
    }
    &_bottom{
        font-size: 1.2rem;
        line-height: 120%;
        margin: 0 -2rem;
        padding: 1.8rem 2rem 0 2rem;
        color: rgba(255, 255, 255, 0.7);
    }

    &_number{
      margin-bottom: 1.5rem;
    }
    &_number,
    &_mail{
      font-size: 1.3rem;
      align-items: center;
      display: flex;
      gap: 1rem;
      img{
        height: 1.8rem;
        width: 1.8rem;
      }
    }

  }
}